
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
    <li>@Html.ActionLink("Productos", "Index", "Productos")</li>
    <li>@Html.ActionLink("costos", "Index", "Costos")</li>
    <li>@Html.ActionLink("cuentas", "Index", "Cuentas")</li>
    <li>@Html.ActionLink("Venta", "Index", "Venta")</li>
    <li>@Html.ActionLink("Detalle", "Index", "Detalle")</li>
    <li>@Html.ActionLink("Persona", "Index", "Persona")</li>
    <li>@Html.ActionLink("Proveedor", "Index", "Proveedor")</li>
    <li>@Html.ActionLink("Materia", "Index", "MateriaPrima")</li>
    <li>@Html.ActionLink("Inventario Producto", "Index", "InventarioProducto")</li>
    <li>@Html.ActionLink("Inventario Materia Prima", "Index", "InventarioMP")</li>
    <li>@Html.ActionLink("Pago Mano de Obra", "Index", "PagoMO")</li>

</ul>