@model DataLayer.InventarioProducto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>InventarioProducto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnidadMedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadMedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorxUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorxUnidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidaExistencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidaExistencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.NombreProducto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" style="color:#ffffff !important;" /> 
            <p>
                <a href="~/InventarioProducto/Index" class="btn btn-default" style="background-color:#ff6a00; color:#ffffff !important;">Regresar a Lista</a>
            </p>

            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
