@model DataLayer.InventarioProducto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InventarioProducto</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnidadMedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadMedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorxUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorxUnidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidaExistencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidaExistencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.NombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.NombreProducto)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "InventarioProducto", new { id = Model.IdInventarioProcducto }) " class="btn btn-primary">Editar</a>
    <a href="~/Persona/Index" class="btn btn-default" style="background-color:#ff6a00; color:#ffffff !important;">Regresar a Lista</a>

    @*@Html.ActionLink("Edit", "Edit", new { id = Model.IdInventarioProcducto }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
