@model IEnumerable<DataLayer.InventarioProducto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="~/InventarioProducto/Create" class="btn btn-primary">Crear Nuevo</a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table id="grid" class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UnidadMedida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorxUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidaExistencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.NombreProducto)
        </th>
        <th></th>
    </tr>
        </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadMedida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorxUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidaExistencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
        </td>
        <td>
            <a href="@Url.Action("Edit", "InventarioProducto", new { id=item.IdInventarioProcducto }) " class="btn btn-danger">Editar</a>
            <a href="@Url.Action("Details", "InventarioProducto", new { id=item.IdInventarioProcducto}) " class="btn btn-primary">Detalles</a>
            <a href="@Url.Action("Delete", "InventarioProducto", new  {id=item.IdInventarioProcducto }) " class="btn btn-default" style="background-color:#ffd800; color:#ffffff !important;">Eliminar</a>
        </td>
    </tr>
}
        </tbody>
</table>
