@model DataLayer.CostoProduccion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CostoProduccion</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IdCosto)

        <div class="form-group">
            @Html.LabelFor(model => model.IdProducto, "IdProducto", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdProducto", String.Empty)
                @Html.ValidationMessageFor(model => model.IdProducto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdMateriaPrima, "IdMateriaPrima", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdMateriaPrima", String.Empty)
                @Html.ValidationMessageFor(model => model.IdMateriaPrima)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cantidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cantidad)
                @Html.ValidationMessageFor(model => model.Cantidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PagoManoObra, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PagoManoObra)
                @Html.ValidationMessageFor(model => model.PagoManoObra)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ValorUnidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ValorUnidad)
                @Html.ValidationMessageFor(model => model.ValorUnidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreciodeVenta, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreciodeVenta)
                @Html.ValidationMessageFor(model => model.PreciodeVenta)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
