@model IEnumerable<DataLayer.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<p>

    <a href="~/Productos/Create" class="btn btn-primary">Crear Nuevo </a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table id="grid" class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioXUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activo)
        </th>
        <th></th>
    </tr>
        </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioXUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>

            <a href="@Url.Action("Edit", "Productos", new { id=item.IdProducto }) " class="btn btn-danger">Editar</a>
            <a href="@Url.Action("Details", "Productos", new { id=item.IdProducto}) " class="btn btn-primary">Detalles</a>
            <a href="@Url.Action("Delete", "Productos", new  {id=item.IdProducto }) " class="btn btn-default" style="background-color:#ffd800; color:#ffffff !important;">Eliminar</a>

            @*@Html.ActionLink("Edit", "Edit", new { id=item.IdProducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProducto })*@
        </td>
    </tr>
}
        </tbody>
</table>
