@model DataLayer.CuentasxPagarProveedor

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CuentasxPagarProveedor</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.IdProveedor, "IdProveedor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdProveedor", String.Empty)
                @Html.ValidationMessageFor(model => model.IdProveedor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdMateriaPrima, "IdMateriaPrima", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdMateriaPrima", String.Empty)
                @Html.ValidationMessageFor(model => model.IdMateriaPrima)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CantidadComprada, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantidadComprada)
                @Html.ValidationMessageFor(model => model.CantidadComprada)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.precio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.precio)
                @Html.ValidationMessageFor(model => model.precio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total)
                @Html.ValidationMessageFor(model => model.Total)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
