@model IEnumerable<DataLayer.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Personas</h2>

<p>
    <a href="~/Persona/Create" class="btn btn-primary">Crear Nuevo</a>

    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table id="grid" class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activo)
        </th>
        <th></th>
    </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            <div class="col-md-2">

            </div>
           <a href="@Url.Action("Edit", "Persona", new { id=item.IdPersona }) " class="btn btn-danger">Editar</a> 
            <a href="@Url.Action("Details", "Persona", new { id=item.IdPersona}) " class="btn btn-primary">Detalles</a>
            <a href="@Url.Action("Delete", "Persona", new  {id=item.IdPersona }) " class="btn btn-default" style="background-color:#ffd800">Eliminar</a>
" 

            @*@Html.ActionLink("Details", "Details", new { id=item.IdPersona }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPersona })*@
        </td>
    </tr>
}
    </tbody>
</table>
