@model DataLayer.MateriaPrima

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MateriaPrima</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IdMatriaPrima)

        <div class="form-group">
            @Html.LabelFor(model => model.IdProveedor, "IdProveedor", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdProveedor", String.Empty)
                @Html.ValidationMessageFor(model => model.IdProveedor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NombreMateriaPrima, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreMateriaPrima)
                @Html.ValidationMessageFor(model => model.NombreMateriaPrima)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrecioXUnidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrecioXUnidad)
                @Html.ValidationMessageFor(model => model.PrecioXUnidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.activo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.activo)
                @Html.ValidationMessageFor(model => model.activo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
